{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- Заголовок -->
                <h1 class="display-4 text-center mb-4">Вход</h1>

                <!-- Форма -->
                <form method="post" action="{{ url_for('login') }}" class="bg-light p-4 rounded shadow">
                    {{ form.hidden_tag() }}

                    <!-- Поле для имени пользователя -->
                    <div class="mb-3">
                        {{ form.username.label(class="form-label") }}
                        {{ form.username(class="form-control") }}
                    </div>

                    <!-- Поле для пароля -->
                    <div class="mb-3">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control") }}
                    </div>

                    <!-- Кнопка отправки формы -->
                    <div class="d-grid">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}